@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-poppins;
}

/* Ẩn thanh cuộn mặc định */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Khi hover hoặc đang cuộn thì hiện */
.scroll-container:hover::-webkit-scrollbar,
.scroll-container:active::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(93, 92, 92, 0.5);
  border-radius: 4px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in forwards;
}
