@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-inter;
}

/* Ẩn thanh cuộn mặc định */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Khi hover hoặc đang cuộn thì hiện */
.scroll-container:hover::-webkit-scrollbar,
.scroll-container:active::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(93, 92, 92, 0.5);
  border-radius: 4px;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.25s ease-in forwards;
}
