name: Infra Manual OpenTofu Apply

on:
  workflow_dispatch:
  # No inputs required now

env:
  TF_VAR_unifeed_gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
  TF_VAR_unifeed_gcp_project_region: ${{ vars.GCP_REGION }}
  TF_STATE_BUCKET: "unifeed-infra-tf-state"

jobs:
  opentofu-plan:
    name: OpenTofu Plan
    runs-on: ubuntu-latest
    environment: Production
    defaults:
      run:
        working-directory: ./infra
    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_ADMIN_CREDENTIALS }}'

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.6.0

      - name: OpenTofu Init
        run: |
          tofu init

      - name: OpenTofu Validate
        run: tofu validate
        continue-on-error: false

      - name: OpenTofu Plan
        id: plan
        run: tofu plan -out=${{ github.run_id }}.tfplan -no-color
        continue-on-error: false

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: infra/${{ github.run_id }}.tfplan
          retention-days: 1

  opentofu-apply:
    name: OpenTofu Apply
    needs: opentofu-plan
    runs-on: ubuntu-latest
    environment: Production
    defaults:
      run:
        working-directory: ./infra

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_ADMIN_CREDENTIALS }}'

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.6.0

      - name: OpenTofu Init
        run: |
          tofu init

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: infra

      - name: OpenTofu Apply
        run: tofu apply ${{ github.run_id }}.tfplan